#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.itemHorario {
  background: #313131;
  width: 99%;
  margin: 5px auto;
}
.itemHorario .horarioItemBody{
  display: none;
  transition: .3s;
}
.itemHorario.open .horarioItemBody{
  display: block;
  transition: .3s;
}
.itemHeading {
  background: #516e69;
  padding: 10px 0;
}