#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.itemHorario {
  background: #394f4b;
  width: 99%;
  margin: 5px auto 10px auto;
  border-radius: 5px;
  overflow: hidden;
}
.itemHorario.open {
  margin-bottom: 40px;
}
.itemHorario .horarioItemBody{
  height: 0;
  overflow: hidden;
  transition: .6s;
}
.itemHorario.open .horarioItemBody{
  height: auto;
  transition: .6s;
}
.itemHeading {
  display: block;
  background: #516e69;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.itemHorario.open .itemHeading{
  border-bottom: 1px solid #2E2E2E;
}